// text colors
$very-dark-blue: hsl(238, 29%, 16%)
$very-dark-greyish-blue: hsl(237, 12%, 33%)
$dark-greyish-blue: hsl(240, 6%, 50%)
$soft-red: hsl(14, 88%, 65%)

// background gradients
$soft-violet: hsl(273, 75%, 66%)
$soft-blue: hsl(240, 73%, 65%)

// divider color
$light-greyish-blue: hsl(240, 5%, 91%)

// mixins
@mixin grid($hor, $ver)
    display: grid
    justify-content: $hor
    align-content: $ver

// main styling
*
    box-sizing: border-box
    margin: 0
    padding: 0

body
    font:
        family: "Kumbh Sans"
        size: 12px
    background:
        image: linear-gradient($soft-violet, $soft-blue)

main
    min-height: 100vh
    @include grid(center, center)

.container
    @include grid(center, center)
    margin: 150px 24px
    width: 327px
    min-height: 60%
    background-color: white
    border-radius: 20px

.images
    margin: 0 auto
    width: 240px
    position: relative
    top: -64%
    #cube
        display: none
    #lady
        width: 240px
    #shadow
        position: absolute
        bottom: -15%
        left: 0%

.faq
    margin: -60px 0px 50px
    width: 280px
    h1
        font-size: 36px
        text-align: center
        color: $very-dark-blue
    .box
        padding: 20px 0
        color: $very-dark-greyish-blue

        .row
            display: flex
            justify-content: space-between
            align-items: center

            p.que
                font-size: 14px
                line-height: 1.3
                &:hover
                    color: $soft-red
                    cursor: pointer

            img
                width: 11px
                height: 7px

        .ans
            display: none
            margin-top: 8px
            line-height: 1.4
            width: 90%
            color: $dark-greyish-blue
    hr
        background-color: $light-greyish-blue
        height: .05px
