// text colors
$very-dark-blue: hsl(238, 29%, 16%)
$very-dark-greyish-blue: hsl(237, 12%, 33%)
$dark-greyish-blue: hsl(240, 6%, 50%)
$soft-red: hsl(14, 88%, 65%)

// background gradients
$soft-violet: hsl(273, 75%, 66%)
$soft-blue: hsl(240, 73%, 65%)

// divider color
$light-greyish-blue: hsl(240, 5%, 91%)

// mixins
@mixin grid($hor, $ver)
    display: grid
    justify-content: $hor
    align-content: $ver

// main styling
*
    box-sizing: border-box
    margin: 0
    padding: 0

body
    font:
        family: "Kumbh Sans"
        size: 12px
    background:
        image: linear-gradient($soft-violet, $soft-blue)

main
    min-height: 100vh
    @include grid(center, center)

.container
    @include grid(center, center)
    margin: 148px 0 20px
    width: 327px
    min-height: 500px
    background-color: white
    border-radius: 23px

#cube
    display: none
    position: absolute

.images
    margin: 0 auto
    width: 240px
    position: relative
    top: -59%
    #lady
        width: 240px
    #shadow
        position: absolute
        bottom: -15%
        left: 0%

.faq
    margin: -55px 0 46px
    width: 280px
    h1
        font-size: 34px
        text-align: center
        letter-spacing: -2px
        color: $very-dark-blue
        margin-bottom: 10px
    .box
        padding: 17px 0
        color: $very-dark-greyish-blue

        .row
            display: flex
            justify-content: space-between
            align-items: center

            .que
                font-size: 14px
                word-spacing: -2px
                &:hover
                    color: $soft-red
                    cursor: pointer

            img
                width: 11px
                height: 7px
                &:hover
                    cursor: pointer

        .ans
            display: none
            margin-top: 10px
            line-height: 1.5
            width: 90%
            color: $dark-greyish-blue
            animation: slideDown .4s ease-out alternate

    // class for displaying required style for clicked element
    .open
        .que
            font-weight: 700
            color: $very-dark-greyish-blue
        img
            transform: rotateX(180deg)
            transition: all .7s
        .ans
            display: block

    hr
        background-color: $light-greyish-blue
        height: 1px
        border: none

// animation 
@keyframes slideDown
    from
        opacity: 0
        transform: translateY(-100%)
    to
        opacity: 1
        transform: translateY(0%)

// style for footer 
footer
    margin-bottom: 10px
    text-align: center
    font-size: 14px
    color: white
    a
        color: $soft-red

//  style for large/desktop screen 
@media screen and (width > 970px)
    .container
        margin: 20px 0 0 44px
        width: 920px
        grid-template-columns: 1fr 1fr
        position: relative

    #cube
        display: block
        top: 202px
        left: -94px
        z-index: 2

    .images
        margin: 0
        width: 100%
        min-height: 500px
        top: 0
        overflow: clip

        #lady
            position: absolute
            top: 70px
            left: -85px
            z-index: 1

        #shadow
            top: -295px
            left: -577px

    .faq
        margin: 62px 16px
        width: 333px
        h1
            text-align: left
            margin-bottom: 20px
        .row
            letter-spacing: 0.5px

        .box .ans
            width: 320px
